
.list{
    background-color:#F2A71B;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    padding: 30px;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    border-radius: 10px;
    width: 825px;
}

.listDelete{
    background-color:#F2A71B;
    position: relative;
    display: inline-block;
    margin-top: 10px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    text-align: start;
    border-radius: 10px;
}

img{
    width: 200px;
}

.listGames{
    display: inline-block;
    padding: 5px;
    
}
.listGamesDelete{
    display: block;
    padding: 5px;
    
}

.btn{
    margin-left: 10px;
    display: inline-block;
}

li{
    width: 300px;
    display: inline-block;
}

button{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

button:hover{
    background-color: #e6cb89;
    cursor: pointer;
    color: black;
}
