* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#e6cb89;
  color: #011F26;
  text-align: center;
}

a{
  text-decoration: none;
  color: #F2A71B;
  transition: 0.5s;
}

a:hover{
  color: white;
}

.form{
  background-color:#F2A71B;
  position: relative;
  text-align: start;
  display: inline-block;
  margin-top: 10px;
  padding: 30px;
  border-radius: 10px;
}
.form > h2{
  text-align: center;
}

.destaque{
  background-color:#F2A71B;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* .data{
  background-color:#F2A71B;
  position: relative;
  display: inline-block;
  margin-left: 50%;
  margin-top: 10px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
} */
